.footer{
	background-color: rgb(72, 72, 243);
	width: 100%;
	position: relative;
	bottom: 0px;
	margin-top: 50px;
	margin-bottom: 0;
	height: 50px;
}

.footer p{
	color: white;
	text-align: center;
	padding: 10px 0;
	font-size: 15px;
	margin-bottom: 0;
}