.header {
    background: rgb(72, 72, 243);
    height: 200px;
  }
  
  .header h1 {
    margin: 0;
    padding-top: 75px;
    text-align: center;
    color: white;
    font-size: 3rem;
  }

  .header h2 {
    padding: 20px;
    text-align: center;
    color: black;
    font-size: 2rem;
  }
  