.Header-Div {
  text-align: center;
  left: 0px;
  right: 0px;
  top: 0px;
}

.Header {
  /* background-color: rgb(37, 158, 228); */
  background-image: url("food-pattern.gif");
  background-repeat: no-repeat;
  background-size: cover;

  /* background-image: url("food-woodtable.png"); */
  /* background-image: url("Food_header.jpg"); */
  /* background-image: url("FairFoodHeader.jpg"); */

  /* for the last 3 img will need the below background filters */
  /* background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; */

/* full cover no repeat option */
  /* background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; */

  /* background shadow option */
  background-color: rgb(233, 233, 245);
  background-blend-mode: multiply;

  height: 150px;
  padding: 20px;
  color: rgb(224, 44, 44);
  font-size: 200%;


  /* text outline */
  text-shadow: 1px 1px 2px rgb(77, 4, 4);
}

.Header-title {
  font-size: 1.5em;

/* font choices */

/* font-family: 'K2D', sans-serif; */
/* font-family: 'Fahkwang', sans-serif; */
/* font-family: 'Niramit', sans-serif; */
/* font-family: 'Rubik', sans-serif; */
/* font-family: 'Kanit', sans-serif; */
/* font-family: 'Concert One', cursive; */
font-family: 'Fredoka One', cursive;
}

.Header-intro {
  font-size: large;
}


